name: Django Docker CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: InventoryHubTest
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and run containers
        run: docker compose up -d --build

      - name: Wait for Postgres
        run: |
          echo "Waiting for Postgres to be ready..."
          until docker compose exec db pg_isready -U postgres; do
            sleep 2
          done

      - name: Run migrations
        run: docker compose run -e CI=true web python manage.py migrate

      - name: Run tests
        run: docker compose run -e CI=true web python manage.py test

      - name: Stop containers
        run: docker compose down
